.file-upload {
  background-color: #f6f2f9;
  border: 1px dashed rgba(78, 0, 138, 0.3);
  border-radius: 6px;
  text-align: center;
  max-width: 445px;
  justify-content: center;

  &__uploader {
    border: none;
    background: transparent;
    display: block;
  }

  &__header {
    margin-bottom: 8px;
  }

  &__file {
    margin: 8px 0;
    width: 90%;
    align-self: center;
  }

  &__actions {
    margin-top: 8px;
  }

  &__header,
  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  &__title {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
  }

  &__subtitle {
    color: var(--onyx-500);
    font-size: 12px;
    margin: 0;
  }

  &__action-btn {
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    width: 204px;
    height: 48px;

  }

  &__browse-btn {
    background: var(--secondary-500);
    color: #fff;
    border-color: transparent;
    outline: none;

    &:hover {
      background: var(--secondary-600);
      border-color: transparent;
    }
  }
}
