<div class="file-upload">
  <p-fileUpload
    auto
    [customUpload]="true"
    #fileUpload
    (uploadHandler)="uploadHandler($event)"
    (onSelect)="onSelect($event)"
    dragDropSupport="true"
    [showUploadButton]="false"
    [showCancelButton]="false"
    [chooseButtonProps]="{ styleClass: 'd-none' }"
    mode="advanced"
    [multiple]="false"
    class="file-upload__uploader"
  >
    <ng-template pTemplate="content">
      <div class="file-upload__header">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none">
          <path d="M8 52H6.5H8ZM8 56H6.5V57.5H8V56ZM52 8V6.5H12V8V9.5H52V8ZM12 8V6.5C8.96244 6.5 6.5 8.96244 6.5 12H8H9.5C9.5 10.6193 10.6193 9.5 12 9.5V8ZM8 12H6.5V52H8H9.5V12H8ZM12 56V57.5H50V56V54.5H12V56ZM56 50H57.5V12H56H54.5V50H56ZM56 12H57.5C57.5 8.96246 55.0376 6.5 52 6.5V8V9.5C53.3808 9.5 54.5 10.6193 54.5 12H56ZM50 56V57.5H52V56V54.5H50V56ZM56 52H57.5V50H56H54.5V52H56ZM8 52H6.5V56H8H9.5V52H8ZM8 56V57.5H12V56V54.5H8V56ZM52 56V57.5C55.0376 57.5 57.5 55.0376 57.5 52H56H54.5C54.5 53.3807 53.3807 54.5 52 54.5V56Z" fill="#4F008C"/>
          <path d="M42.6673 37.3327L32.0007 26.666L21.334 37.3327" stroke="#4F008C" stroke-width="3" stroke-linejoin="round"/>
          <path d="M32 48.0006V27.334" stroke="#4F008C" stroke-width="3" stroke-linejoin="round"/>
          <path d="M21.334 18.666H42.6673" stroke="#4F008C" stroke-width="3" stroke-linejoin="round"/>
        </svg>
        <h3 class="file-upload__title">
          {{ "dragDropText" | translate }}
        </h3>
        <p class="file-upload__subtitle">
          {{ "uploadFormatText" | translate }}
        </p>
      </div>
      @if (isUplading()) {
        <div class="file-upload__file">
          <p-progressbar mode="indeterminate" [style]="{ height: '6px' }" />
        </div>
      }
      <div class="file-upload__actions">
        <button
          [disabled]=""
          pButton
          class="file-upload__action-btn file-upload__browse-btn"
          (click)="triggerFileInput()"
        >
          {{ "browseFilesText" | translate }}
        </button>
        <!-- To add template URL to be downladed -->
        <button
          (click)="dataTemplateDownload()"
          pButton
          severity="secondary"
          [outlined]="true"
          class="file-upload__action-btn file-upload__download-btn p-button-outlined"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M2.5 10.0035V17.5H17.5V10" stroke="#FF375E" stroke-width="1.5" stroke-linejoin="round"/>
            <path d="M13.75 9.58398L10 13.334L6.25 9.58398" stroke="#FF375E" stroke-width="1.5" stroke-linejoin="round"/>
            <path d="M9.99609 2.5V13.3333" stroke="#FF375E" stroke-width="1.5" stroke-linejoin="round"/>
          </svg>
          {{ "downloadTemplateText" | translate }}
        </button>
      </div>
    </ng-template>
    <ng-template pTemplate="file"></ng-template>
  </p-fileUpload>
</div>
