<div class="hub-created-locations">
  @if (isLoading()) {
    <app-skeleton-loader/>
  } @else {
    @if ((!isApplyingFilter() && isEmptyState() && !items().length)) {
      <app-component-state
        [mainTitle]="'no locations found yet'"
        [subTitle]="'start by creating a new location to manage and track your records here'"
        [iconUrl]="'assets/images/location-state.svg'"
        [showReloadButton]="false"
      />
    } @else {
      <!-- FILTERS -->
      <div [hidden]="genericTableCacheService.selectedItemsCounter()">
        <app-hub-filters (filterValues)="onFilterValueChanges($event)"/>
      </div>

      <!-- BULK ACTIONS -->
      <div [hidden]="!genericTableCacheService.selectedItemsCounter()">
        <app-table-action-bulk [showBulkSelection]="showBulkSelection()">
          <!-- GENERATE QR CODE BUTTON -->
          <p-button styleClass="w-full md:w-auto" (onClick)="confirmQrGeneration()" [label]="'generate QR code' | translate" [severity]="'contrast'">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path d="M7.5 2.5H2.5V7.5H7.5V2.5Z" stroke="#1D252D"/>
              <path d="M7.5 12.5H2.5V17.5H7.5V12.5Z" stroke="#1D252D"/>
              <path d="M17.5 12.5H12.5V17.5H17.5V12.5Z" stroke="#1D252D"/>
              <path d="M17.5 2.5H12.5V7.5H17.5V2.5Z" stroke="#1D252D"/>
              <path d="M10 3L10 10.5" stroke="#1D252D"/>
              <path d="M10 12.5V17.5" stroke="#1D252D"/>
              <path d="M10 10H2.5" stroke="#1D252D"/>
              <path d="M17.5 10H12.5" stroke="#1D252D"/>
            </svg>
          </p-button>

          <!-- PRINT QR CODE BUTTON -->
          <p-button styleClass="w-full md:w-auto my-3 md:my-0 md:mx-3" [disabled]="isValidatingQr()" (onClick)="validateQRPrint()" [label]="'print QR code' | translate" [severity]="'contrast'">
            @if (isValidatingQr()) {
              <i class="pi pi-spinner pi-spin" style="font-size: 1.4rem"></i>
            } @else {
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M15.8337 8.33333V3.33333V2.5L15.0003 2.5H5.00033L4.16699 2.5V3.33333V8.33333" stroke="#1D252D"/>
                <path d="M16.6667 8.33325H3.33333H2.5V9.16659V16.6666V17.4999H3.33333H14.6667H15.5C16.6046 17.4999 17.5 16.6045 17.5 15.4999V14.6666V9.16659V8.33325H16.6667Z" stroke="#1D252D"/>
                <path d="M6.90039 14.1667H13.1504V17.5001H6.90039V14.1667Z" stroke="#1D252D"/>
                <path d="M5 10.8333H6.25" stroke="#1D252D" stroke-linejoin="round"/>
              </svg>
            }
          </p-button>

          <!-- DELETE LOCATIONS BUTTON -->
          <p-button styleClass="w-full md:w-auto" (onClick)="deleteLocationQR()" [label]="'delete' |  translate" [severity]="'secondary'" [outlined]="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path d="M3.75 4.16675V18.3334H14.25C15.3546 18.3334 16.25 17.438 16.25 16.3334V4.16675H3.75Z" stroke="#FF375E"/>
              <path d="M8.33301 8.33325V13.7499" stroke="#FF375E" stroke-linecap="square"/>
              <path d="M11.667 8.33325V13.7499" stroke="#FF375E" stroke-linecap="square"/>
              <path d="M1.66699 4.16675H18.3337" stroke="#FF375E" stroke-linecap="square"/>
              <path d="M6.66699 4.16675L8.03741 1.66675H11.9908L13.3337 4.16675H6.66699Z" stroke="#FF375E"/>
            </svg>
          </p-button>
        </app-table-action-bulk>
      </div>

      <!-- CREATED LOCATIONS TABLE -->
      @if (!isEmptyState() && !isErrorState()) {
        <div class="overflow-x-auto overflow-y-hidden">
          <app-generic-table
            [columns]="createTableColumns()"
            [items]="items()"
            [totalRecords]="genericTableCacheService.totalAvailableItems()"
            [hasCheckBoxes]="true"
            (selectedItems)="onSelectedItemsChange($event)"
            (currentPage)="onPageChange($event)"
          />
<!--          @if (qrCodeObjectUrl) {-->
<!--            <img-->
<!--              [src]="qrCodeObjectUrl"-->
<!--              alt="Guest QR Code for {{ guestId }}"-->
<!--              class="qr-image"-->
<!--            />-->
<!--          } @else {-->
<!--            <p>Generating QR code...</p>-->
<!--          }-->
        </div>
      } @else if (isEmptyState() && !isErrorState()) {
        <app-component-state
          [mainTitle]="'no result found'"
          [subTitle]="'no location code matches the code entered'"
          [iconUrl]="'assets/images/search-state.svg'"
        />
      } @else if (isErrorState() && !isEmptyState()) {
        <app-component-state
          [mainTitle]="'data could not be retrieved'"
          [subTitle]="'data could not be retrieved, kindly try again later'"
          [iconUrl]="'assets/images/refresh-state.svg'"
          [showReloadButton]="true"
        />
      }
    }
  }
<!--  <button (click)="openToaster()">TEST CELL</button>-->
</div>

<!-- LOADING DIALOG -->
<p-dialog [(visible)]="showLoadingDialog" [modal]="true" [closable]="false" [style]="{width: '370px', height: '370px'}">
  <app-loading-dialog [loadingTitle]="loadingTitle()" />
</p-dialog>


<!-- CUSTOM CELLS GOES HERE.. -->

<!-- QR STATUS CUSTOM COLUMN -->
<ng-template #qrStatusCustomColumn let-row>
  @let location = genericCasting(row);

  <app-custom-status [status]="location?.qrCode ? 'success' : 'danger'" />
</ng-template>


<!-- CODE CUSTOM COLUMN -->
<ng-template #codeCustomColumn let-row>
  @let location = genericCasting(row);

  <app-copy-to-clipboard [textToBeCopied]="location.code"/>
</ng-template>


<!-- DISTRICT CUSTOM COLUMN -->
<ng-template #districtCustomColumn let-row>
  @let location = genericCasting(row);

  <app-title-with-icon [itemTitle]="location.district" [iconUrl]="'assets/images/widget.svg'"/>
</ng-template>


<!-- LOCATION TYPE CUSTOM COLUMN -->
<ng-template #locationTypeCustomColumn let-row>
  @let location = genericCasting(row);

  <div>{{location?.typeTitle + '-' + location.typeCode}}</div>
</ng-template>


<!-- BUILDING CUSTOM COLUMN -->
<ng-template #buildingCustomColumn let-row>
  @let location = genericCasting(row);

  <app-text-with-bg-color
    [textItems]="location.building"
    [bgColor]="'var(--monlight-100)'"
    [textColor]="'var(--monlight-500)'"
  />
</ng-template>
