<div class="hub-locations-types">
  @if (isLoading()) {
  <app-skeleton-loader />
  } @else {
  <!-- FILTERS -->

  @if ((!isApplyingFilter() && isEmptyState() && !isErrorState())) {
  <app-component-state  [mainTitle]="'No Archived Locations'" [subTitle]="'When you archive locations, they will appear here for management and restoration'"
    [iconUrl]="'assets/images/location-state.svg'" [showReloadButton]="false" />
  } @else {
  <div>
    <app-hub-filters [placeHolder]="'searchPlaceholder'" (filterValues)="onFilterValueChanges($event)" />
  </div>
  @if (!isEmptyState() && !isErrorState()) {
  <div class="overflow-x-auto overflow-y-hidden">

    <app-generic-table [columns]="createTableColumns()" [items]="items()" [showRecordInfo]="true"
      [totalRecords]="genericTableCacheService.totalAvailableItems()" (currentPage)="onPageChange($event)" />

  </div>

  } @else if (isErrorState() && !isEmptyState()) {
  <app-component-state [mainTitle]="'there is a network error'"
    [subTitle]="'please check your network or contact system admin'" [iconUrl]="'assets/images/refresh-state.svg'"
    [showReloadButton]="true" />
  }@else if (isApplyingFilter() && isEmptyState() && !isErrorState()) {
  <app-component-state [mainTitle]="'no location code matches the code entered'"
    [subTitle]="''" [iconUrl]="'assets/images/location-state.svg'"
    [showReloadButton]="false" />
      <!-- <app-component-state [mainTitle]="'no locations found yet'"
    [subTitle]="'no location code matches the code entered'" [iconUrl]="'assets/images/location-state.svg'"
    [showReloadButton]="false" /> -->
  }
  }
  }
</div>




<!-- CODE CUSTOM COLUMN -->
<ng-template #codeCustomColumn let-row>
  @let location = genericCasting(row);

  <app-copy-to-clipboard [textToBeCopied]="location.code"/>
</ng-template>


<!-- DISTRICT CUSTOM COLUMN -->
<ng-template #districtCustomColumn let-row>
  @let location = genericCasting(row);

  <app-title-with-icon [itemTitle]="location.district" [background]="'#F7F8F9'" [iconUrl]="'assets/images/archived.svg'"/>
</ng-template>


<!-- LOCATION TYPE CUSTOM COLUMN -->
<ng-template #locationTypeCustomColumn let-row>
  @let location = genericCasting(row);

  <div>{{location?.typeTitle + '-' + location.typeCode}}</div>
</ng-template>




<!-- BUILDING CUSTOM COLUMN -->
<ng-template #buildingCustomColumn let-row>
  @let location = genericCasting(row);

  <app-text-with-bg-color
    [textItems]="location.building"
    [bgColor]="'var(--monlight-100)'"
    [textColor]="'var(--monlight-500)'"
  />
</ng-template>


<ng-template #locationTypeActionsColumn let-row>
  @let locationType = genericCasting(row);

  <div class="flex justify-content-start">
    <p-menu [appendTo]="'body'" #menu [model]="locationTypeActions(locationType)" [popup]="true">
      <ng-template #item let-item>
        <a pRipple class="flex items-center p-menu-item-link">
     <img src="assets/images/archived.svg" alt="{{ item.label }}"/>

          <span class="ml-2" [class.stc-danger]="item.alias === 'delete'">{{ item.label | translate }}</span>
        </a>
      </ng-template>
    </p-menu>
    <button pRipple class="custom-actions-btn" (click)="menu.toggle($event)">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M6 13.5C6.82843 13.5 7.5 12.8284 7.5 12C7.5 11.1716 6.82843 10.5 6 10.5C5.17157 10.5 4.5 11.1716 4.5 12C4.5 12.8284 5.17157 13.5 6 13.5Z" fill="#1D252D"/>
        <path d="M12 13.5C12.8284 13.5 13.5 12.8284 13.5 12C13.5 11.1716 12.8284 10.5 12 10.5C11.1716 10.5 10.5 11.1716 10.5 12C10.5 12.8284 11.1716 13.5 12 13.5Z" fill="#1D252D"/>
        <path d="M18 13.5C18.8284 13.5 19.5 12.8284 19.5 12C19.5 11.1716 18.8284 10.5 18 10.5C17.1716 10.5 16.5 11.1716 16.5 12C16.5 12.8284 17.1716 13.5 18 13.5Z" fill="#1D252D"/>
      </svg>
    </button>
  </div>
</ng-template>