.p-datatable-thead {
  > tr {
    > th {
      background-color: var(--silver-100) !important;
      width: 220px !important;

      &:first-child {
        &:has(p-tableHeaderCheckbox) {
          width: 20px !important;
        }
      }
    }
  }
}
