<nav class="navbar">
  <div class="navbar__logo">
    <img class="navbar__logo-img" src="assets/images/hub.svg" alt="hub" />
  </div>
  <ul class="info-bar">
    <li class="info-bar__item">
      <app-hub-search />
    </li>
    <!-- <p-divider styleClass="m-0" layout="vertical" /> -->

    <li class="info-bar__item">
      <app-hub-inbox />
    </li>
    <!-- <p-divider styleClass="m-0" layout="vertical" /> -->
    <li class="info-bar__item">
      <app-profile-menu />
    </li>
  </ul>
</nav>
