:host {
  display: block;
  width: inherit;
}

.hub-custom-tabs {
  border-bottom: 1px solid var(--gray-200);
  padding: 0.5rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .tab-sections {
  display: flex;
    align-items: center;
    gap: 24px;
  }

  &__item {
    color: var(--silver-600);
    position: relative;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;

    &::after {
      content: "";
      position: absolute;
      bottom: -1rem;
      inset-inline-start: 0;
      width: 0;
      height: 2px;
      background-color: var(--primary-500);
      transition: width 0.3s ease;
      z-index: 100;
    }

    &:hover {
      color: var(--primary-500);
    }

    &.active-route {
      color: var(--primary-500);

      &::after {
        width: 100%;
      }
    }
  }
}

.import-btn {
  position: absolute;
  inset-inline-end: 2rem;
  background-color: var(--secondary-500);
  color: white;
  height: 40px;
  width: 124px;
  border-radius: 2px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  cursor: pointer;
  font-family: STCForward-Regular, sans-serif;
  transition: all 0.3s ease;

  &:hover {
    background-color: #ff4f74;


  }
}
