<p-table
  [columns]="columns()"
  [value]="items()"
  [scrollHeight]="'flex'"
  [(selection)]="selectedLocations"
  (selectionChange)="onSelectionChange($event)"
  [rowTrackBy]="trackByCode"
  [rows]="rowsCounter"
  [paginator]="true"
  [showCurrentPageReport]="true"
  [currentPageReportTemplate]="`Showing ${items()?.length} of {totalRecords}`"
  dataKey="code"
>
  <ng-template #header let-columns>
    <tr>
      <!-- TABLE HEADER CHECKBOX -->
      @if (hasCheckBoxes()) {
        <th>
          <p-tableHeaderCheckbox />
        </th>
      }

      @for (col of columns; track col?.field) {
        <th [style.width]="col?.columnWidth">
          {{ col.field }}
        </th>
      }
    </tr>
  </ng-template>
  <ng-template #body let-rowData let-columns="columns">
    <tr>
      <!-- TABLE BODY CHECKBOX -->
      @if (hasCheckBoxes()) {
        <td>
          <p-tableCheckbox [value]="rowData" />
        </td>
      }

      @for (col of columns; track col.field) {
        @if (col?.template) {
          <td>
            <ng-container *ngTemplateOutlet="col.template; context: {$implicit: rowData}"/>
          </td>
        } @else {
          <td>{{rowData[col?.field]}}</td>
        }
      }
    </tr>
  </ng-template>
</p-table>
