<div class="qr-container">
  <header class="qr-container__header">
    <app-header />
  </header>
  <aside class="qr-container__sidebar">
    <app-apps-list />
  </aside>

  <main class="qr-container__main">
    <app-sub-header />
    <!-- MAIN ROUTES -->
    @if (hasCredentials()) {
      <section class="mx-0 lg:mx-5">
        <div class="core-tabs-list">
          <app-core-tabs-list />
        </div>

        <div class="core-content">
          <router-outlet/>
        </div>
      </section>
    } @else {
      <router-outlet/>
    }
  </main>
  <!--    GLOBAL TOASTER AND CONFIRMATION DIALOGS -->
  <p-confirm-dialog [style]="{'width': '500px'}" />
  <p-toast />
</div>
