<div class="qr-container">
  <header class="qr-container__header">
    <app-header />
  </header>
  <aside class="qr-container__sidebar">
    <app-apps-list />
  </aside>

  <main class="qr-container__main">
    <app-sub-header />
    <!-- MAIN ROUTES -->
    @if (hasCredentials()) {
      <section class="mx-0 lg:mx-5 overflow-auto">
        @if (isAppReady()) {
          <div class="core-tabs-list">
            <app-core-tabs-list />
          </div>
        } @else {
          <app-spinner-loader/>
        }

        <div class="core-content">
          <router-outlet/>
        </div>
      </section>
    } @else {
      <section class="mx-0 lg:mx-5 overflow-auto">
        <router-outlet/>
      </section>
    }
  </main>
  <!--    GLOBAL TOASTER AND CONFIRMATION DIALOGS -->
  <p-confirm-dialog [style]="{'width': '500px'}" />
  <p-toast />
</div>
