:host {
  display: block;
  width: inherit;
  height: calc(100% - 64px);
}

.hub-archive-custom-tabs {
  padding: 0.5rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .tab-sections {
  display: flex;
    align-items: center;
    gap: 10px;
  }

  &__item {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    background: white;
    color: #1D252D;
    font-size: 15px;

    &:hover {
          color: var(--primary-500);
    }

    &.active-route {
      background-color: var(--primary-500);
      color: white;

      &::after {
        width: 100%;
      }
    }
  }
}
