:host {
  height: 100%;
  width: 100%;
}

.sub-header {
  background-color: var(--primary-500);
  height: inherit;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 30px;
}
