<div class="hub-created-locations">
  @if (isLoading()) {
    <app-skeleton-loader/>
  } @else {
    @if ((!isApplyingFilter() && isEmptyState() && !items().length)) {
      <app-component-state
        [mainTitle]="'no locations found yet'"
        [subTitle]="'start by creating a new location to manage and track your records here'"
        [iconUrl]="'assets/images/location-state.svg'"
        [showReloadButton]="false"
      />
    } @else {
      <!-- FILTERS -->
      <div [hidden]="genericTableCacheService.selectedItemsCounter()">
        <app-hub-filters (filterValues)="onFilterValueChanges($event)"/>
      </div>

      <!-- BULK ACTIONS -->
      <div [hidden]="!genericTableCacheService.selectedItemsCounter()">
        <app-table-action-bulk [showBulkSelection]="showBulkSelection()">
          <!-- GENERATE QR CODE BUTTON -->
          <p-button styleClass="w-full md:w-auto" (onClick)="confirmQrGeneration()" [label]="'generate QR code' | translate" [severity]="'contrast'">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path d="M7.5 2.5H2.5V7.5H7.5V2.5Z" stroke="#1D252D"/>
              <path d="M7.5 12.5H2.5V17.5H7.5V12.5Z" stroke="#1D252D"/>
              <path d="M17.5 12.5H12.5V17.5H17.5V12.5Z" stroke="#1D252D"/>
              <path d="M17.5 2.5H12.5V7.5H17.5V2.5Z" stroke="#1D252D"/>
              <path d="M10 3L10 10.5" stroke="#1D252D"/>
              <path d="M10 12.5V17.5" stroke="#1D252D"/>
              <path d="M10 10H2.5" stroke="#1D252D"/>
              <path d="M17.5 10H12.5" stroke="#1D252D"/>
            </svg>
          </p-button>

          <!-- PRINT QR CODE BUTTON -->
          <p-button styleClass="w-full md:w-auto my-3 md:my-0 md:mx-3" [disabled]="isValidatingQr()" (onClick)="validateQRPrint()" [label]="'print QR code' | translate" [severity]="'contrast'">
            @if (isValidatingQr()) {
              <i class="pi pi-spinner pi-spin" style="font-size: 1.4rem"></i>
            } @else {
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M15.8337 8.33333V3.33333V2.5L15.0003 2.5H5.00033L4.16699 2.5V3.33333V8.33333" stroke="#1D252D"/>
                <path d="M16.6667 8.33325H3.33333H2.5V9.16659V16.6666V17.4999H3.33333H14.6667H15.5C16.6046 17.4999 17.5 16.6045 17.5 15.4999V14.6666V9.16659V8.33325H16.6667Z" stroke="#1D252D"/>
                <path d="M6.90039 14.1667H13.1504V17.5001H6.90039V14.1667Z" stroke="#1D252D"/>
                <path d="M5 10.8333H6.25" stroke="#1D252D" stroke-linejoin="round"/>
              </svg>
            }
          </p-button>
          <!-- ARCHIVE LOCATIONS BUTTON -->
          <p-button styleClass="w-full md:w-auto my-3 md:my-0 md:mx-3" [disabled]="isValidatingQr()" (onClick)="openArchiveLocationsConfirmDialog()" [label]="'archive locations' | translate" [severity]="'contrast'">
             @if (isValidatingQr()) {
              <i class="pi pi-spinner pi-spin" style="font-size: 1.4rem"></i>
            } @else {
              <svg width="20" height="20" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
               <path d="M2 13.3333H2.5H2ZM2 14H1.5V14.5H2V14ZM2.66667 4V4.5H13.3333V4V3.5H2.66667V4ZM13.3333 4V4.5C13.4254 4.5 13.5 4.57462 13.5 4.66667H14H14.5C14.5 4.02233 13.9777 3.5 13.3333 3.5V4ZM14 4.66667H13.5V12H14H14.5V4.66667H14ZM12 14V13.5H2.66667V14V14.5H12V14ZM2 13.3333H2.5V4.66667H2H1.5V13.3333H2ZM2 4.66667H2.5C2.5 4.57462 2.57462 4.5 2.66667 4.5V4V3.5C2.02233 3.5 1.5 4.02233 1.5 4.66667H2ZM2.66667 14V13.5H2V14V14.5H2.66667V14ZM2 14H2.5V13.3333H2H1.5V14H2ZM14 12H13.5C13.5 12.8284 12.8284 13.5 12 13.5V14V14.5C13.3807 14.5 14.5 13.3807 14.5 12H14Z" fill="#1D252D"/>
               <path d="M5.98242 8.00269H9.98242" stroke="#1D252D" stroke-linejoin="round"/>
               <path d="M2 4.33341L4.33333 1.66675H11.6667L14 4.33341" stroke="#1D252D" stroke-linejoin="round"/>
              </svg>
            }
          </p-button>

          <!-- DELETE LOCATIONS BUTTON -->
          <p-button styleClass="w-full md:w-auto" (onClick)="deleteLocationQR()" [label]="'delete' |  translate" [severity]="'secondary'" [outlined]="true">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M3.75 4.16675V18.3334H14.25C15.3546 18.3334 16.25 17.438 16.25 16.3334V4.16675H3.75Z" stroke="#FF375E"/>
                <path d="M8.33301 8.33325V13.7499" stroke="#FF375E" stroke-linecap="square"/>
                <path d="M11.667 8.33325V13.7499" stroke="#FF375E" stroke-linecap="square"/>
                <path d="M1.66699 4.16675H18.3337" stroke="#FF375E" stroke-linecap="square"/>
                <path d="M6.66699 4.16675L8.03741 1.66675H11.9908L13.3337 4.16675H6.66699Z" stroke="#FF375E"/>
            </svg>
          </p-button>
        </app-table-action-bulk>
      </div>

      <!-- CREATED LOCATIONS TABLE -->
      @if (!isEmptyState() && !isErrorState()) {
        <div class="overflow-x-auto overflow-y-hidden">
          <app-generic-table
            [columns]="createTableColumns()"
            [items]="items()"
            [totalRecords]="genericTableCacheService.totalAvailableItems()"
            [hasCheckBoxes]="true"
            (selectedItems)="onSelectedItemsChange($event)"
            (currentPage)="onPageChange($event)"
          />
                      <!-- (rowClick)="onRowClick($event)" -->

<!--          @if (qrCodeObjectUrl) {-->
<!--            <img-->
<!--              [src]="qrCodeObjectUrl"-->
<!--              alt="Guest QR Code for {{ guestId }}"-->
<!--              class="qr-image"-->
<!--            />-->
<!--          } @else {-->
<!--            <p>Generating QR code...</p>-->
<!--          }-->
        </div>
      } @else if (isEmptyState() && !isErrorState()) {
        <app-component-state
          [mainTitle]="'no result found'"
          [subTitle]="'no location code matches the code entered'"
          [iconUrl]="'assets/images/search-state.svg'"
        />
      } @else if (isErrorState() && !isEmptyState()) {
        <app-component-state
          [mainTitle]="'data could not be retrieved'"
          [subTitle]="'data could not be retrieved, kindly try again later'"
          [iconUrl]="'assets/images/refresh-state.svg'"
          [showReloadButton]="true"
        />
      }
    }
  }
<!--  <button (click)="openToaster()">TEST CELL</button>-->
</div>

<!-- LOADING DIALOG -->
<p-dialog [(visible)]="showLoadingDialog" [modal]="true" [closable]="false" [style]="{width: '370px', height: '370px'}">
  <app-loading-dialog [loadingTitle]="loadingTitle()" />
</p-dialog>


<!-- CUSTOM CELLS GOES HERE.. -->

<!-- QR STATUS CUSTOM COLUMN -->
<ng-template #qrStatusCustomColumn let-row>
  @let location = genericCasting(row);

  <app-custom-status [status]="location?.qrCode ? 'success' : 'danger'" />
</ng-template>


<!-- CODE CUSTOM COLUMN -->
<ng-template #codeCustomColumn let-row>
  @let location = genericCasting(row);

  <app-copy-to-clipboard [textToBeCopied]="location.code"/>
</ng-template>


<!-- DISTRICT CUSTOM COLUMN -->
<ng-template #districtCustomColumn let-row>
  @let location = genericCasting(row);

  <app-title-with-icon [itemTitle]="location.district" [iconUrl]="'assets/images/widget.svg'"/>
</ng-template>


<!-- LOCATION TYPE CUSTOM COLUMN -->
<ng-template #locationTypeCustomColumn let-row>
  @let location = genericCasting(row);

  <div>{{location?.typeTitle + '-' + location.typeCode}}</div>
</ng-template>


<!-- BUILDING CUSTOM COLUMN -->
<ng-template #buildingCustomColumn let-row>
  @let location = genericCasting(row);

  <app-text-with-bg-color
    [textItems]="location.building"
    [bgColor]="'var(--monlight-100)'"
    [textColor]="'var(--monlight-500)'"
  />
</ng-template>

<ng-template #locationTypeActionsColumn let-row>
  @let createdLocation = genericCasting(row);
  <div class="flex justify-content-start">
    <p-menu [appendTo]="'body'" #menu [model]="locationTypeActions(createdLocation)" [popup]="true">
      <ng-template #item let-item>
        <a pRipple class="flex items-center p-menu-item-link">
          @if (item.alias === 'edit') {
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M1.77548 14.4998L4.60382 14.4999L14.9747 4.12895L12.1463 1.30054L1.77539 11.6715L1.77548 14.4998Z" stroke="#1D252D"/>
              <path d="M9.31641 4.12915L12.1448 6.95758" stroke="#1D252D" stroke-linecap="square"/>
            </svg>
          }

          @if (item.alias === 'delete') {
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <g clip-path="url(#clip0_115_7262)">
                <path d="M3 3.33325V14.6666H11C12.1046 14.6666 13 13.7712 13 12.6666V3.33325H3Z" stroke="#FF375E"/>
                <path d="M6.66602 6.66675V11.0001" stroke="#FF375E" stroke-linecap="square"/>
                <path d="M9.33398 6.66675V11.0001" stroke="#FF375E" stroke-linecap="square"/>
                <path d="M1.33398 3.33325H14.6673" stroke="#FF375E" stroke-linecap="square"/>
                <path d="M5.33398 3.33325L6.43032 1.33325H9.59302L10.6673 3.33325H5.33398Z" stroke="#FF375E"/>
              </g>
              <defs>
                <clipPath id="clip0_115_7262">
                  <rect width="16" height="16" fill="white"/>
                </clipPath>
              </defs>
            </svg>
          }
          <span class="ml-2" [class.stc-danger]="item.alias === 'delete'">{{ item.label | translate }}</span>
        </a>
      </ng-template>
    </p-menu>
    <button pRipple class="custom-actions-btn" (click)="menu.toggle($event)">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M6 13.5C6.82843 13.5 7.5 12.8284 7.5 12C7.5 11.1716 6.82843 10.5 6 10.5C5.17157 10.5 4.5 11.1716 4.5 12C4.5 12.8284 5.17157 13.5 6 13.5Z" fill="#1D252D"/>
        <path d="M12 13.5C12.8284 13.5 13.5 12.8284 13.5 12C13.5 11.1716 12.8284 10.5 12 10.5C11.1716 10.5 10.5 11.1716 10.5 12C10.5 12.8284 11.1716 13.5 12 13.5Z" fill="#1D252D"/>
        <path d="M18 13.5C18.8284 13.5 19.5 12.8284 19.5 12C19.5 11.1716 18.8284 10.5 18 10.5C17.1716 10.5 16.5 11.1716 16.5 12C16.5 12.8284 17.1716 13.5 18 13.5Z" fill="#1D252D"/>
      </svg>
    </button>
  </div>
</ng-template>

<p-drawer 
  [(visible)]="isViewLocationDetailsVisible" [header]="'location details' |translate" 
  [position]="localizationService.isRTL() ?'left':'right'" 
  [style]="{width: '30vw',color:'#000'}"
   >
  <app-view-location-details [locationDetails]="locationDetails()"/>
</p-drawer>
